:root {
  --cyan: hsl(179, 62%, 43%);
  --cyan2: hsl(179, 75%, 43%);
  --shadow: hsl(179, 75%, 27%);
  --rightYellow: hsl(71, 73%, 54%);
  --lightGray: hsl(204, 43%, 93%);
  --grayishBlue: hsl(218, 22%, 67%);
  --lightWhite: #fdfdfd;

  --karla: 'Karla', sans-serif;
}

body {
  align-items: center;
  background-color: var(--lightGray);
  display: flex;
  flex-direction: column;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
}

.grid {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  margin-top: 2vh;
  width: calc(100vw - 60px);
}

.attribution {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-areas:
      "join join"
      "subscription whyUs";
    grid-template-columns: 50% 50%;
    grid-template-rows: 45% 55%;
    height: 475px;
    margin-top: 18vh;
    width: 80vw;
    max-width: 640px;
  }
}